@theme {
  --animate-logo-cloud: logo-cloud 30s linear infinite;
  @keyframes logo-cloud {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 4rem));
    }
  }
}
